# local unit to go in /etc/systemd/system/

[Unit]
Description=File Integrity Monitor
After=local-fs.target syslog.service
Documentation=https://www.pitt-pladdy.com/blog/_20160711-084204_0100_File_integrity_and_log_anomaly_auditing_Updated_like_fcheck_logcheck_/

[Service]
ExecStart=/usr/local/sbin/integrityd-file.py
KillMode=process
Restart=on-failure

[Install]
WantedBy=multi-user.target
